.ibox-content {
    clear: both;
    border-top: none;
}

.dropdown.profile-element {
    color: #fff;
}

.marginTop {
    margin-top: 10px;
}

.tdBtn{
	width: 130px;
}

.tdImg {
    width: 100px;
    text-align: center;
}

.tdImg img{
    width: 100px;

}

.logo{
	margin-bottom: 20px;
}

.logo img{
	width: 200px;
}

iframe.iframe {
    border: none;
    width: 250px;
    height: 250px;
}